parameters:
    environment: {{ environment }}
    project_name: {{ project_name }}
    project_dir: {{ project_dir }}
    log_dir: {{ log_dir }}
    cache_dir: {{ cache_dir }}
    database_host: {{ database_host }}
    database_port: {{ database_port }}
    database_name: {{ database_name }}
    database_user: {{ database_user }}
    database_password: {{ database_password }}
    dns_name: {{ server_name }}
    ssl: {{ ssl }}
    jwt_secret: {{ jwt_secret }}
    entity_namespace: {{ entity_namespace }}{{ "\n" }}
